@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body{
  background-color: #f8f9fa;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}


h1 {
  font-size: 2.5rem;
  margin: 1rem 0 .5rem 0;
}

main .container{
  width: 40%;
}

#listTasks{
  list-style: none;
  font-size: 1.5rem;
  padding: 0;
  margin: .5rem;
  margin-bottom: 0;
  border: 2px solid #007bff;
  border-radius: .5rem;
}

#listTasks li{
  border-bottom: 2px solid #007bff;
  padding: 1rem .5rem;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;

}

#listTasks li:last-of-type {
  border-bottom: none;
}

#listTasks .done{
  margin-right: .5rem;
  justify-self: start;
  width: 2rem;
  text-decoration: none;
  color: #26a69a;
}

#listTasks span {
  justify-self: start;
}

#listTasks .del{
  text-decoration: none;
  color: #dc3545;
  justify-self: center;
}

.footer{
  border: 2px solid #007bff;
  border-top: none;
  padding: 0;
  margin: 0 .5rem .5rem .5rem;
  display: flex;
  justify-content: space-around;
  font-size: 1.1rem;
  padding: .5rem 0 ;
  border-radius: .5rem;
}

.footer a{
  text-decoration: none;
  padding: .5rem .4rem;
  border-radius: .5rem;
  color: #17a2b8;
}

.footer span {
  padding: .5rem .4rem;
}

.footer .active{
  border: 1px solid #999;
}

.footer a:hover{
  background-color: #ccc;
}

#addTaskForm{
  display: grid;
  grid-template-columns: 9fr 1fr;
  width: 100%;
  margin: 1fr .5rem .5rem 1rem;
  padding: .5rem;
  grid-gap: 1em;
}

#addTaskForm input[type=text]{
  width: 100%;
  height: 2.5rem;
  border-radius: .5rem;
  border: 2px solid #007bff;
  box-shadow: 3px 3px 3px #999;
}

#addTaskForm input[type=submit] {
  width: 100%;
  height: 2.5rem;
  background-color: #26a69a;
  color: #fff;
  border-radius: .5rem;
  border: none;
  cursor: pointer;
  box-shadow: 3px 3px 3px #999;
}